<ion-tabs  mode="ios">

  <ion-tab-bar slot="bottom" class="ion-no-border" >
    <ion-tab-button tab="notas">
      <ion-icon aria-hidden="true" name="document-outline"></ion-icon>
      <ion-label>{{'tab.notas' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>{{'tab.mapa' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>{{'tab.cofiguracion' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
